<html lang="en" >
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="language" content="EN" />
    <meta name="Classification" content="API" />
    <meta name="subject" content="Do you want an api that can give you best information in fastest time about your discord account ? hello we are here Persian-Discord-API" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#516acc" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta name="twitter:card" value="summary" />
    <meta name="twitter:title" content="Persian Discord API" />
    <meta name="twitter:description" content="do you want an api that can give you best information in fastest time about your discord account ? hello we are here Persian-Discord-API" />
    <meta name="twitter:image" content="https://persian-discord-api.herokuapp.com/image/favicon.png" />

    <meta property="og:title" content="Persian Discord API" />
    <meta property="og:description" content="Do you want an api that can give you best information in fastest time about your discord account ? hello we are here Persian-Discord-API" />
    <meta property="og:image" content="https://persian-discord-api.herokuapp.com/image/favicon.png" />


    <meta name="description" content="Do you want an api that can give you best information in fastest time about your discord account ? hello we are here Persian-Discord-API" />
    <meta name="keywords" content="Discord API, API, Discord, Persian Discord API, discord api, api, discord, persian discord api, pda, PDA" />
    <meta name="author" content="Persian Discord API" />

    <script src="https://kit.fontawesome.com/fdbc6c58ce.js" crossorigin="anonymous"></script>

    <title>Persian Discord API</title>

    <link rel="shortcut icon" type="image/png" href="https://persian-discord-api.herokuapp.com/image/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css'>
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>

<div class="center-absolute animationFadeIn">
    <div>
        <h1 class="home-header-text animationFadeIn">Persian Discord API</h1>

        <form class="form-findUser flex animationFadeIn">
            <button id="submit" class="form__button">Find</button>
            <label for="keyWord"></label>
            <input class="form__input" required="required" name="keyWord" id="keyWord" type="number">
        </form>

        <p class="notifications animationFadeIn">if you want to get your account info by id or graphic page, please join our <a href="https://discord.com/invite/RUrks4JqW6" target="_blank">Discord server</a></p>
    </div>
</div>

<h1 class="screen-footer animationFadeIn">PDA a product of <a href="https://parsa-firoozi.ir/" target="_follow" class="parsa-a">im-parsa</a>.</h1>

<script src="/js/script.js"></script>
</body>
</html>
